<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG_Demo.testLogo"/>
      <class name="TestNG_Demo.firsttestcase"/>
      <class name="TestNG_Demo.launch_browser"/>
      <class name="TestNG_Demo.Test_Case_Annotation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
